* {
    color:rgb(27, 47, 68);
    box-sizing: border-box;
}

body {
    background-image: url("../images/cityscape.jpg");
    background-color: rgb(236, 192, 137);
    display: flex;
}

.navigation {
    background-color:rgb(236, 192, 137);
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 20px 40px rgb(236, 192, 137);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

nav h1 {
    font-family: Didot;
}

nav a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

p, h3, img {
    margin: 10px;
}

.page {
    margin-top: 150px;
    display: flex;
    gap: 50px 70px;
}

.intro {
    background-color: rgb(236, 192, 137);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-family: Didot;
}

.bio {
    background-color: rgb(236, 192, 137);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-family: Didot;
}

.bio img {
    height: 100px;
}

.sidebar {
    background-color: rgb(236, 192, 137);
    height: 100%;
    width: 80%;
    border-radius: 5px;
    font-family: Didot;
}

/* footer {
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: rgb(236, 192, 137);
    border-radius: 5px;
    font-family: Didot;
}

footer p {
    text-align: center;
} */

/* media queries */

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .page {
        margin-top: 260px;
        flex-direction: column;
    }
}


/* pseudo class styling */

nav a:hover {
    color: white;
}