
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Didot;
    color:rgb(27, 47, 68);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("../images/cityscape.jpg") no-repeat center center fixed;
    background-color: rgb(244, 223, 213);
    background-size: cover;
}

nav h1 {
    font-family: Didot;
}

nav a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:rgb(244, 223, 213);
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px 40px rgb(244, 223, 213);
    align-items: flex-end;
    margin-top: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 12% 2%;
    gap: 50px 70px;
}

.top {
    display: flex;
    gap: 50px 70px;
}

.top .section {
    background-color:rgb(244, 223, 213);
    height: 100%;
    width: 80%;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jennifer-headshot {
    max-width: 40%;
    height: auto;
}

p, h3, img {
    margin: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom .section {
    background-color:rgb(244, 223, 213);
    height: 100%;
    width: 80%;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img {
    max-width: 39%;
    height: auto;
}

.bottom .double {
    display: flex;
}

.work-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: rgb(244, 223, 213);
    border-radius: 5px;
    font-family: Didot;
}

/* media queries */

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .main {
        margin: 32% 2%;
    }
}

/* pseudo class styling */
a:visited {
    color:rgb(27, 47, 68);
}

a:hover {
    color: white;
}